
<%if @slug == nil%>

    <% JSON.parse($redis.get('data')).reverse.each do |x| %>
      <article class="full_post">
      <h2> <a href ="/topics/<%= x["slug"] %>"><%= x["topic"] %></a> </h2>
      <h3> <%= x["body"] %> </h3>
      <p class="signature"> posted by: <%= x["username"] %> </p>
      </article>
      </br>
    <% end %>
<%else%>
    <% JSON.parse($redis.get('data')).each do |x| %>
      <% if x["slug"] == @slug %>
      <article class="full_post">
          <h2> <a href ="/topics/<%=x["slug"]%>"> <%= x["topic"] %></a> </h2>
          <h3> <%= x["body"] %> </h3>
          <p class="signature"> posted by: <%= x["username"] %> </p>

            <form method="get" action="/topics/<%=@desired_topic %>/new_message">
              <input type="hidden" name ="correct_topic" value="<%=@desired_title %>"/>
              <input type="submit"  value="reply"/>
            </form>

       <form method="POST" action="/topics">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="hidden" name="topic" value ="<%= @selected_topic%>"/>
          <input type ="submit"  name="delete" value="delete topic"/>
        </form>
        <a href ="/topics"> back to all topics </a>
      </article>

  <% end %>
<% end %>






<% end %>
