
<a href="/topics/new"> post a new topic </a>


<%if @desired_topic == nil%>
    <% @keys.each do |key| %>
    <% parsed = JSON.parse($redis.get(key)) %>

    <h2> <a href="/topics/<%=parsed["topic"]%>"> <%= parsed["title"] %></a> </h2>
    <h3> <%= parsed["message"] %> </h3>
    <p> posted by: <%= parsed["username"] %> </p>
    <% end %>
<%else%>
</br>
      <%@all_topics.each do |topic| %>
          <% parsed = JSON.parse($redis.get(topic)) %>
          <% if @desired_topic == parsed["topic"] %>
          <h2> <%= parsed["title"] %> </h2>
          <h3> <%= parsed["message"] %> </h3>
          <p> posted by: <%= parsed["username"] %> </p>
          <% end %>
        <% end %>
        <form method="POST" action="/topics">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="hidden" name="topic" value ="<%=@desired_topic%>"/>
          <input type ="submit"  name="delete" value="delete topic"/>
        </form>
        <a href ="/topics"> back to all topics </a>
<% end %>
