       <section class="order_button"> <form method="get" action="/reorder">
          <input type="hidden" name ="order" value="true"/>
          <input type="submit" value="order by vote"/>
        </form>
        </section>

<%if @slug == nil%>
    <h2 class="flash"> <%= flash.now[:notice] %> </h2>
    <% JSON.parse($redis.get('data')).reverse.each do |x| %>
      <article class="full_post">
      <h2> <a href ="/topics/<%= x["slug"] %>"><%= x["topic"] %></a> </h2>
      <h3> <%= x["body"] %> </h3>
      <p class="signature"> posted by: <%= x["username"] %> </p>
      <p class="signature"> reply count: <%= x["messages"].size %> </p>
      <p class="signature"> vote count: <%= x["vote_count"] %> </p>
      </article>
      </br>
    <% end %>
<%else%>
    <h2 class="flash"> <%= flash.now[:reply] %> </h2>
    <% JSON.parse($redis.get('data')).each do |x| %>
      <% if x["slug"] == @slug %>
      <% @delete = x["topic"] %>
      <% @reply = x["topic"]  %>
      <article class="full_post">
        <section class="body">
          <h2> <a href ="/topics/<%=x["slug"]%>"> <%= x["topic"] %></a> </h2>
          <h3> <%= x["body"] %> </h3>
          <p class="signature"> posted by: <%= x["username"] %> </p>

          vote count: <%= x["vote_count"].to_s %>
        </br>
      </br>
<!-- reply form -->
        <section class="button_list">
        <form method="get" action="/topics/<%= @slug %>/new_message">
          <input type="hidden" name ="correct_topic" value="<%= @reply %>"/>
          <input type="submit"  value="reply"/>
        </form>
<!-- reply form -->
<!-- vote form -->
        <form method="get" action="/topics/<%= @slug %>/vote">
          <input type="hidden" name ="correct_topic" value="<%= @reply %>"/>
          <input type="submit"  value="vote"/>
        </form>

<!-- vote form -->
<!-- delete form  -->
        <form method="POST" action="/topics">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="hidden" name="topic" value ="<%= @delete%>"/>
          <input type ="submit"  name="delete" value="delete topic"/>
        </form>
      </br>
    </br>
          <a href="/topics"> back to topics </a>
        </section>
        </section>
          <% x["messages"].each do |message| %>
          <section class="reply">
          <h3> <%= message["message"] %> </h3>
          <p class="signature"> posted by: <%= message["username"] %> </p>
          </section>
          <% end %>
        </br>
      </br>
          <a href="/topics"> back to topics </a>
      </article>

<!-- delete form  -->
  <% end %>

<% end %>


<% end %>
